/* Emma Larson 4/16/2022 */

.upcnews{
    font-size: 38px;
}

.w2w{
    font-size: 45px;
    color: lightslategray ;
}

.header{
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}